footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background-color: black;

    img {
        height: 1rem;
        width: 1rem;
    }

    a {
        color: white;
        text-decoration: underline;
    }
}